Build
Build.bat
/build/
MYMETA.json
MYMETA.yml
_build
blib
xs/buildtmp
*.o
MANIFEST.bak
xs/MANIFEST.bak
xs/assertlib*
.init_bundle.ini
.vs/*
local-lib
/src/TAGS
/.vscode/
build-linux/*
deps/build-linux/*
**/.DS_Store
/.idea/
resources/shapes/trusssupp/node.txt
resources/shapes/trusssupp/node.txt
resources/shapes/trusssupp/noderadius.txt
resources/shapes/trusssupp/radius.txt
resources/shapes/trusssupp/strut.txt
